.contact{
    background-color: #343a40;
    padding-top: 4rem;
    padding-bottom: 2rem;
    color: white;
}

.contact__main-title{
    text-align: center;
   
 
}

.contact__wrapper{
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 2rem;
    place-items: center;
    text-align: center;
    /* border: 1px solid red; */
}

.contact__content-1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}


.contact__content-1 h1{
    font-weight: 500;
    font-size: var(---2xl);
    
}

.contact__content-1 p{
    font-weight: 400;
    font-size: var(---lg);
    max-width: 60ch;
    text-align: center;
    line-height: 1.8rem;
    
}

.contact__content-2 p i{
    color: #20c997;

    margin-right: 1rem;
    
}

.contact__content-2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
    
}
.contact__content-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.contact__content-3 h1{
    font-size: var(---3xl);
    font-weight: 500;
    

}
.contact__content-3 .contact-icons{
    display: flex;
    gap: 1rem;

}
.contact__content-3 .contact-icons a i{
    font-size: 1.2rem;
    color: white;
    transition: 0.3s ease;
}
.contact__content-3 .contact-icons a i:hover{
    font-size: 1.4rem;
    color: #20c997;

}







@media(min-width:475px){
   
}


 
@media(min-width:640px){
            
}




@media(min-width:768px){
    .contact__wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .contact__content-1{
        flex: 1;
    }
    .contact__content-2{
        flex: 1;
    }
    .contact__content-3{
        flex: 1;
    }
    
}




@media(min-width:1024px){
    
}



@media(min-width:1280px){
    .contact__content-1 h1{
        font-weight: 500;
        font-size: var(---3xl);
        
    }
    .contact__content-1 p{
        font-weight: 400;
        font-size: var(--xl);
        max-width: 60ch;
        text-align: center;
        line-height: 1.8rem;
        
    }
    .contact__content-2 p i{
        color: #20c997;
    
        margin-right: 1.5rem;
        
    }
    .contact__content-2 p {
            font-size: var(--xl);
    
        
        
    }
    
    .contact__content-3 h1{
        font-size: var(---4xl);
        font-weight: 500;
        
    
    }
    .contact__content-3 .contact-icons a i{
        font-size: var(---2xl);
        color: white;
        transition: 0.3s ease;
    }
       
}




@media(min-width:1536px){
    .contact__content-1 h1{
        font-weight: 500;
        font-size: var(---4xl);
        
    }
    .contact__content-1 p{
        font-weight: 400;
        font-size: var(---2xl);
        max-width: 60ch;
        text-align: center;
        line-height: 1.8rem;
        
    }
    .contact__content-2 p i{
        color: #20c997;
    
        margin-right: 1.5rem;
        
    }
    .contact__content-2 p {
            font-size: var(---2xl);
    
        
        
    }
    
    .contact__content-3 h1{
        font-size: var(---5xl);
        font-weight: 500;
        
    
    }
    .contact__content-3 .contact-icons a i{
        font-size: var(---3xl);
        color: white;
        transition: 0.3s ease;
    }
}