

.navbar{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 1em 0.5rem;
    padding-bottom:0;
    
}
.navbar .logo{
    font-size: var(--xxs);
   
}

.navbar nav ul{
    list-style: none;
    display: none;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navbar nav ul li a{
    color: white;
    font-size: var(--base);
    text-decoration: none;
}

.navbar .icons{
    margin-left: auto;
    margin-right: 1.2rem;

    display: flex;
    gap: 1rem;

}
.icons a{
    cursor: pointer;
}

.icons .icon{
    color: white;
    font-size: var(--base);
}
.bars{
    font-size: var(--xl);
    
}
.mobile__menu{
    /* display: block; */
    position: absolute  ;
    top: 0;
    left: 0;
    background-color: #212529;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.mobile__menu .mobile__wrapper ul {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}
.mobile__menu .mobile__wrapper ul li{
 
    text-align: center;
    list-style: none;
    
}
.mobile__menu .mobile__wrapper ul li a{
   color: white;
   font-size: var(--xl);
   transition: 0.3s ease;
    
}
.mobile__menu .mobile__wrapper ul li a:hover{
   color: #20c997;

}
.mobile__icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.mobile__icons a i{
    color: white;
    font-size: var(--xl);
}

.bars{
    z-index: 9999;
}



@media(min-width:475px){
    .navbar .icons{
        margin-left: auto;
        margin-right: 1.5rem;
    
        display: flex;
        gap: 1rem;
    
    }
    .bars{
        font-size: var(---2xl);
    }
    .navbar .logo{
        font-size: var(--xs);
    }
}


 
@media(min-width:640px){
            
}




@media(min-width:768px){
    
}




@media(min-width:1024px){
        .bars{
            display: none;
        }
        .navbar nav ul{
            list-style: none;
            display: flex;
            gap: 1.5rem;
        }
        .navbar .logo{
            font-size: var(--sm);
            letter-spacing: -0.05rem;
        }

        .navbar .icons{
            margin-left: 0;
            margin-right: 0;
        
            display: flex;
            gap: 1rem;
        
        }
        
        
}



@media(min-width:1280px){
    .navbar nav ul{
        gap: 2rem;

    }
    .navbar .logo{
        font-size: var(--base);
        letter-spacing: -0.05rem;
    }
    .navbar .icons i{
        font-size: var(--xl);

       
    }
    .navbar .icons{
        gap: 2rem;
    }
}




@media(min-width:1536px){
    .navbar nav ul{
        gap: 2rem;

    }
    .navbar nav ul li a{
            font-size: var(--xl);

    }
    .navbar .logo{
        font-size: var(--lg);
        letter-spacing: -0.05rem;
    }
    .navbar .icons i{
        font-size: var(---2xl);

       
    }
    .navbar .icons{
        gap: 2rem;
    }


}