.footer{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
    text-align: center;
    font-size: var(--lg);
    color: #20c997;
    font-weight: 500;
}







@media(min-width:475px){
    .footer{
       font-size: var(--xl);
    }
    
    
}


 
@media(min-width:640px){
    .footer{
        font-size: var(---2xl);
     }
}




@media(min-width:768px){
    
}




@media(min-width:1024px){
    
}



@media(min-width:1280px){
    .footer{
        font-size: var(---2xl);
     }
}




@media(min-width:1536px){
    .footer{
        font-size: var(---3xl);
     }
}

